<div class="table" 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <h3>{{title}}</h3>
    <table mat-table 
        [dataSource]="prs" 
        fxFill
        class="mat-elevation-z8">
        <ng-container matColumnDef="lift">
            <th mat-header-cell *matHeaderCellDef> Lift </th>
            <td mat-cell *matCellDef="let pr"> 
                <a [routerLink]="'/prs/'+pr.lift">
                    {{pr.lift}}
                </a> 
            </td>
        </ng-container>
    
        <ng-container matColumnDef="reps">
            <th mat-header-cell *matHeaderCellDef> Reps </th>
            <td mat-cell *matCellDef="let pr"> {{pr.reps}} </td>
        </ng-container>
        
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let pr"> {{pr.weight}} </td>
        </ng-container>
    
        <ng-container matColumnDef="e1RM">
            <th mat-header-cell *matHeaderCellDef> Estimated 1RM </th>
            <td mat-cell *matCellDef="let pr"> {{pr.e1RM | number}} </td>
        </ng-container>
    
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let pr"> {{pr.date | date:'d.M.yy'}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>


