<div class="pr-form">
    <form         
        fxLayout="column" 
        fxLayoutAlign="center stretch" 
        fxLayoutGap="10px"
        #f="ngForm" 
        (submit)="onSubmit(f)">
        <h3>{{title}}</h3>
        <mat-form-field *ngIf="showLiftField">
            <input 
                matInput 
                placeholder="Lift"
                ngModel
                name="lift"
                required>
        </mat-form-field>
        <mat-form-field>
                <input 
                    matInput 
                    placeholder="Weight"
                    type="number"
                    ngModel
                    #weight
                    name="weight"
                    min="2.5"
                    step="2.5"
                    (input)="onCalculateE1RM(reps.value, weight?.value)"
                    required>
            </mat-form-field>
        <label>Number of reps: 
            <span *ngIf="reps?.value">{{reps?.value}}</span>
            <span *ngIf="f.valid" style="float: right">Estimated 1RM: {{e1RM | number:'1.2-2'}}</span> 
        </label> 
        <mat-slider 
            thumbLabel
            ngModel
            #reps
            name="reps" 
            tickInterval="1"
            min="1"
            max="20"
            (input)="onCalculateE1RM(reps.value, weight?.value)"
            required>
            Number of reps
        </mat-slider>
        <mat-form-field>
            <input 
                matInput
                [(ngModel)]="date"
                name="date"
                [matDatepicker]="picker" 
                [max]="today"
                placeholder="Day of the PR">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker 
                [startAt]="today"
                #picker>
            </mat-datepicker>
        </mat-form-field>
        <button 
            mat-raised-button 
            [disabled]="f.invalid"
            color="primary"
            type="submit">
            Submit
        </button>

    </form>
</div>
