<div class="new-lift-form">
    <form         
        fxLayout="column" 
        fxLayoutAlign="center stretch" 
        fxLayoutGap="10px"
        #f="ngForm" >
        <h2>Enter a PR for a new Lift</h2>
        <mat-form-field>
            <input 
                matInput 
                placeholder="Lift"
                ngModel
                name="lift"
                required>
        </mat-form-field>
        <mat-form-field>
                <input 
                    matInput 
                    placeholder="Weight"
                    type="number"
                    ngModel
                    name="weight"
                    min="2.5"
                    step="2.5"
                    required>
            </mat-form-field>
        <label>Number of reps: {{reps?.value}}</label>
        <mat-slider 
            thumbLabel
            ngModel
            #reps
            name="reps" 
            [value]="minReps"
            tickInterval="1"
            min="1"
            max="20"
            required>
            Number of reps
        </mat-slider>
        <mat-form-field>
            <input 
                matInput 
                [matDatepicker]="picker" 
                [max] = "today"
                [value] = "today"
                placeholder="Day of the PR">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <button 
            mat-raised-button 
            [disabled]="f.invalid"
            color="primary"
            type="submit">
            Submit
        </button>

    </form>
</div>