<div class="welcome mat-elevation-z10" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <h1>PR Sheet</h1>
    <h2>Track your personal records!</h2>
    <p>
        Do you even track, bro? As a serious lifter, you should keep track of your lifting <em>bro-gress</em>. 
        Not only will it motivate you to see those PRs increasing as you get stronger, it will also help you determine if your current program works.
        If you are tired of dealing with spreadsheets, try this neat little web app to track your PRs.
        All data is saved locally in your browser.
    </p>
    <div class="button-group" fxLayout fxLayoutGap="10px">
        <button
            mat-raised-button
            color="primary"
            routerLink="/new"
            > 
            {{newLiftMessage}}
        </button>
        <button
        mat-raised-button
        color="primary"
        routerLink="/dashboard"
        *ngIf="!empty"
        > 
        Visit your Dashboard
    </button>
    </div>
    <br>
</div>
